<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.pan.server.modules.file.mapper.RPanUserFileMapper">

    <sql id="Base_Column_List">
        id,user_id,parent_id,
        real_file_id,filename,folder_flag,
        file_size_desc,file_type,del_flag,
        create_user,create_time,update_user,
        update_time
    </sql>

    <select id="selectFileList" resultType="com.imooc.pan.server.modules.file.vo.RPanUserFileVO">
        SELECT id, parent_id, filename, file_size_desc, folder_flag, file_type, update_time
        FROM r_pan_user_file
        <where>
            <if test="fileIdList != null and !fileIdList.isEmpty()">
                AND id IN
                <foreach collection="fileIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="parentId != null and parentId != ''">
                AND parent_id = #{parentId}
            </if>
            <if test="fileTypeArray != null">
                AND file_type IN
                <foreach collection="fileTypeArray" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            AND del_flag = #{delFlag}
        </where>
    </select>

    <select id="searchFile" resultType="com.imooc.pan.server.modules.file.vo.FileSearchResultVO">
        SELECT id, parent_id, filename, file_size_desc, folder_flag, file_type, update_time
        FROM r_pan_user_file
        <where>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="fileTypeArray != null">
                AND file_type IN
                <foreach collection="fileTypeArray" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            AND del_flag = 0
            AND filename LIKE CONCAT(#{keyword}, '%')
        </where>
    </select>

</mapper>
